body {
    color:black;
    font-family: fantasy;
    font-size: 20pt;
    
}
h3{
    color: deepskyblue;
}
p{
    color: black;
}
   #Product Information {
    border: 2px dotted black;
} 
.bold{
    font-weight: bold;
}
div
{
    border: 10px solid black;
    display: inline-block;
    width: 378px;
    min-height: 100px;
}
.nutella{
    widows: 200px;
  
   

}